.container {
  composes: d-flex flex-column text-center justify-content-center from global;
  height: 100%;
  width: 100%;

  & > div {
    margin: 10px auto;
    width: 30em;
  }
}

.me {
  border-radius: 50%;
  height: 15em;
}