.container {
  composes: d-flex flex-column text-center justify-content-center from global;
  height: 100%;
  width: 100%;

  & > div {
    margin: 10px auto;
    max-width: 30em;

    @media screen and (max-width: 500px) {
      padding: 10px;
    }
  }
}

.me {
  border-radius: 50%;
  height: 15em;
}