.Home {
  & > div {

    &.Welcome-container {
      height: 100vh;
      width: calc(100vw - (100vw - 100%));
  
      position: relative;
  
      .scrollDown {
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 20px;
      }
    }
  }
}