.Home {
  composes: mb-5 from global;
}

.WelcomeContainer{
  min-height: 100vh;
  max-width: calc(100vw - (100vw - 100%));

  position: relative;

  @media not screen and (max-height: 280px) {
    padding-bottom: 70px;
  }
}

.scrollDown {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 20px;
}